.nav {
  display: none;
}
.nav .nav-item {
  color: #ffffff;
  display: inline-block;
  padding: 0 10px;
  font-size: 16px;
}

.nav .nav-item:hover {
}

.nav .is-active {
}

@media (min-width: 960px) {
  .nav {
    display: block;
  }
}